
@font-face {
  font-family: 'Montserrat-Thin';
  src: url(../Fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
  font-family: 'Montserrat-Extralight';
  src: url(../Fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url(../Fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../Fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../Fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat-Semibold';
  src: url(../Fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../Fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat-Extrabold';
  src: url(../Fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url(../Fonts/Montserrat/Montserrat-Black.ttf);
}
.montserrat-thin{
  font-family: 'Montserrat-Thin';
  font-weight: 100;
}
.montserrat-extralight{
  font-family: 'Montserrat-Extralight';
  font-weight: 200;
}
.montserrat-light{
  font-family: 'Montserrat-Light';
  font-weight: 300;
}
.montserrat-normal{
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}
.montserrat-medium{
  font-family: 'Montserrat-Medium';
  font-weight: 500;
}
.montserrat-semibold{
  font-family: 'Montserrat-Semibold';
  font-weight: 600;
}
.montserrat-bold{
  font-family: 'Montserrat-Bold';
  font-weight: 700;
}
.montserrat-extrabold{
  font-family: 'Montserrat-Extrabold';
  font-weight: 800;
}
.montserrat-black{
  font-family: 'Montserrat-Black';  
  font-weight: 900;
}
*{
  scroll-behavior: smooth;
}
.hide-dropdown{
  display: none !important;
}
.show-dropdown{
  display: block !important;
}
#nav-menu::-webkit-scrollbar{
  display: none;
}
.show-menu{
  right: 0 !important;
}
.show-accordion{
  height: 100px !important;
  padding: 20px 0;
}
/* catalog range input*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: #DBDBDB;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #DBC08D;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* catalog range input*/
/* ibrohim */
.bg-liner{
  background: linear-gradient(338deg, rgba(255, 255, 255, 0.02) 0%, rgba(25, 36, 47, 0.00) 100%), #19242F;

}
.input-bg{
  background: rgba(255, 255, 255, 0.05);
}
.lightGray{
  color: rgba(13, 34, 55, 0.5)
}


.content {
  display: none;
  padding: 10px 20px;
}

.content.active {
  display: block;
}
button.active {
  background-color:black;
  color: white;
  font-family: 'Montserrat-Semibold';
  font-weight: 600;
}
.index-header-bg{
  background: url(../images/index-header-bg.png);
}
.contact-p{
  color: rgba(25, 36, 47, 0.50);
}
.bgg{
  background:  rgba(255, 255, 255, 0.05);
}

.scrol-tab {
  overflow-x: scroll;
  width: 100px;
  height: 100px;
}
.kg{
  margin-bottom: 0 !important;
  margin-top: 9px;
}

/* ibrohim home page */

.swiper-header .swiper-pagination {
  color: white !important;
  margin-top: 0!important;
  width: auto !important;
}
.swiper-pagination-header .swiper-pagintation-bullet {
  transition: all .4s ease;
  width: 30px;
  height:3px ;
  border-radius: 5px;
  display: block ;
  background: white ;
}  
.swiper-pagination-header .swiper-pagintation-bullet-active {
  background: #DBC08D ;
}
.color-swiper .swiper-pagintation-bullet-active{
  background: #DBC08D !important;
}
.img-car {
  margin-bottom: 0 !important;
}
/* ibrohim home page */